* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  background: rgb(15,21,29);
  background: linear-gradient(90deg, rgba(15,21,29,1) 0%, rgba(16,34,42,1) 47%, rgba(28,73,93,1) 100%);
  }

@font-face {
    font-family: Swis721;
    src: url(../../fonts/Swis721_BT_Bold.ttf);
}

.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
  }
  
  
  .Trazado{
    width: 71.61rem;
    left: -1rem;
    top: 0rem;
    position: absolute;
  }
  
  
  .FotoUsuario{
    position: absolute;
    width: 48px;
    top: 35px;
    left: 52px;
  }
  
  #BotonPrincipal{
    font-family: 'Swis721', Courier, monospace;
    border-radius: 50px;
    background: #10161E;
    position: absolute;
    top: 40px;
    left: 120px;
    width: 13rem;
  }

  
#NombreTab{
    font-family: 'Didact Gothic', Courier, monospace;
    font-size: 17px;
    color: rgb(255, 255, 255);
    left: 60px;
}

#input-with-icon-textfield{
    color:rgb(255, 255, 255);
}

#FotoPrincipal{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 2rem;
    left: 108rem;
}